<p>contact-form works!</p>
<!-- Route contactform -->
<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit()">
  <!-- Message d'erreurs du formulaire global -->
  <div>Le formulaire est-il soumis ? {{ contactForm.submitted }}</div>
  <div>Le formulaire est-il valide ? {{ contactForm.valid }}</div>
  <div>Le formulaire est-il invalide ? {{ contactForm.invalid }}</div>
  <fieldset>
    <label for="lastname">Nom</label>
    <input
      id="lastname"
      name="lastname"
      type="text"
      [(ngModel)]="newMessage.lastname"
      #lastname="ngModel"
      required
      minlength="2"
      maxlength="15"
    />
  </fieldset>
  <!-- Message d'erreurs de l'input lastname après soumission du formulaire -->

  @if (contactForm.submitted && lastname.errors) {
  <div>
    @if (lastname.errors['required']) {
    <span>Le nom est requis</span>
    } @if (lastname.errors['minlength']) {
    <span>Le nom doit comporter au moins 2 caractères</span>
    }@if (lastname.errors['maxlength']) {
    <span>Le nom ne doit pas dépasser 15 caractères </span>
    }
  </div>
  }
  <fieldset>
    <label for="firstname">Prénom</label>
    <input
      id="firstname"
      name="firstname"
      type="text"
      [(ngModel)]="newMessage.firstname"
      #firstname="ngModel"
      required
      minlength="2"
      maxlength="15"
    />
  </fieldset>
  <!-- Affiche l'erreur après soumission du formulaire -->
  @if ( contactForm.submitted && firstname.errors) {
  <div>
    @if (firstname.errors['required']) {
    <span>Le prénom est requis</span>
    } @if (firstname.errors['minlength']) {
    <span>Le prénom doit comporter au moins 2 caractères</span>
    }@if (firstname.errors['maxlength']) {
    <span>Le prénom ne doit pas dépasser 15 caractères</span>
    }
  </div>
  }
  <fieldset>
    <label for="email">Contact</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="newMessage.email"
      #email="ngModel"
      required
      email
    />
  </fieldset>
  <!-- n'affiche l'erreur qu'une fois le formulaire soumis -->
  @if (contactForm.submitted && email.errors) {
  <div>
    @if (email.errors['required']) {
    <span>L'email est requis</span>
    }@if (email.errors['email']) {
    <span>L'email est invalide</span>
    }
  </div>
  }
  <fieldset>
    <label for="content">Contenu du message</label>
    <textarea
      id="content"
      name="content"
      [(ngModel)]="newMessage.content"
      #content="ngModel"
      required
      minlength="20"
      rows="4"
      cols="50"
    ></textarea>
  </fieldset>
  <!-- n'affiche l'erreur qu'une fois le formulaire soumis -->
  @if (contactForm.submitted && content.errors) {
  <div>
    @if (content.errors['required']) {
    <span>Le message est requis</span>
    } @if (content.errors['minlength']) {
    <span>La longueur minimale doit être supérieure à 20 caractères </span>
    }
  </div>
  }
  <button type="reset">Restaurer</button>
  <button type="submit">Envoyer</button>
</form>
