<main class="main">
  <div class="content">
    <ul>
      <!-- affichage des articles publiés -->
      <!-- verification longueur tableau si articles publiés affiche les articles -->
      @if (publishedArticles.length > 0) { @for (article of articles; track
      $index){ @if (article.isPublished) {
      <!-- affichage personnalisé si 100 likes ou plus sur un article -->
      <li [ngClass]="{ 'popular-article': article.likes >= 100 }">
        <h2 [ngStyle]="{ color: article.likes >= 150 ? 'green' : 'black' }">
          {{ article.title }}
          <!-- lien pour voir l'id de l'article -->
          <a [routerLink]="['/article', article.id]">Voir l'article</a>
        </h2>

        <p>Auteur : {{ article.author }}</p>
        <p>{{ article.content }}</p>
        <img [src]="article.image" alt="{{ article.title }}" />
        <p>Likes : {{ article.likes }}</p>
      </li>
      <!-- Sinon affiche le message suivant si 0 article publié -->
      } }}@else {
      <p>Aucun article publié pour le moment</p>
      }
    </ul>

    <!-- appel du composant article dans le fichier html du composant parent -->
    <!-- <app-article></app-article> -->
  </div>
</main>
